@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #0093e9;
  background-image: radial-gradient(circle, #0093e9 0%, darkblue 100%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: white;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
    0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
    0 8px 0 #202020;
}

.left,
.right,
.center,
.container_recibo,
.subsidio {
  width: 60%;
  height: 100%;
  box-shadow: 5px 5px 12px 0 rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 40px;
  margin: 1rem 2rem;
  padding: 2rem 2rem;
  background-image: url(bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.calculo_total {
  width: 80%;
  height: 100%;
  box-shadow: 5px 5px 12px 0 rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 40px;
  margin: 1rem 2rem;
  padding: 2rem 2rem;
  background-image: url(bg2.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

#valor,
#total_HorasExtra,
#resultadoHorasExtra,
#resultadoNoiteSabado,
#resultadoNoiteSemana,
#resultadoDiaSabado,
#total_subsidio {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border-radius: 10px;
  background-color: #202020;
  color: white;
}
#suplementos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.left div,
.right div,
.center div,
.subsidio div,
.calculo_total div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.left div input,
.right div input,
.center div input,
.subsidio div input,
.calculo_total div input {
  width: 100%;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  text-align: center;
}

.right .res,
.center .res,
.left .res,
.subsidio .res,
.calculo_total .res {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#button,
#button1,
#button2,
#button3,
#button4,
#button5,
#button6,
#button7,
#button8 {
  margin: 2rem 0;
  width: 40%;
  font-size: 1.5rem;
  background-color: darkblue;
  color: white;
  cursor: pointer;
  box-shadow: 10px 10px 10px #29698e, -5px -4px 4px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}
#valor,
#resultadoHorasExtra,
#resultadoNoiteSabado,
#resultadoNoiteSemana,
#resultadoDiaSabado,
#resultadoTotal,
#total_HorasExtra,
#total_subsidio {
  margin: 2rem 1rem 2rem 0;
  font-size: 1.5rem;
}
#button:hover,
#button1:hover,
#button2:hover,
#button3:hover,
#button4:hover,
#button5:hover,
#button6:hover,
#button7:hover {
  background-color: white;
  color: darkblue;
  box-shadow: inset 3px -4px 1px 0 rgba(0, 0, 0, 0.5);
}

.center select {
  width: 100%;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  text-align: center;
  box-shadow:inset 1px 2px 0px 2px rgba(0, 0, 0, 0.1), 6px 18px 8px 0 rgba(0, 0, 0, 0.5);
}

.container_recibo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  width: 90%;
}

.abonos,
.descontos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 1rem 1rem;
}
#abonos,
#descontos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid white;
  border-radius: 40px;
}

h3 {
  font-size: 1.8rem;
  color: white;
  background: white;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}
.abonos .abonos_out,
.descontos .desc_out {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem 0rem;
  padding: 1rem 1rem;
}

.desc_out,
.abonos_out {
  width: 100%;
  margin: 1rem 0rem;
  padding: 1rem 1rem;
  text-align: left;
}

.desc_in,
.abonos_in {
  width: 100%;
  padding: 1rem 1rem;
}

.desc_in input,
.desc_in label,
.abonos_in input,
.abonos_in label {
  width: 50%;
  padding: 0 1rem;
  font-size: 1.6rem;
  color: #010139;
}

.desc_in input,
.abonos_in input {
  float: right;
  color: blue;
  text-align: right;
}

hr {
  width: 100%;
}

#button8 {
  width: 100%;
  background-color: white;
  color: darkblue;
  background: linear-gradient(145deg, #ffffff, #41a6e0);
  box-shadow: 10px 10px 10px #29698e, -5px -4px 4px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  transition: 0.4s ease;
  background-clip: text;
  text-shadow: 1px 1px 1px rgba(0, 0, 255, 0.5);
}
#total_final,
#total_fin {
  font-size: 2.5rem;
}
#total_css {
  margin-right: 1rem;
}
.calculo_total div {
  width: 60%;
  float: right;
}

#button8:hover {
  background: white;
  box-shadow: inset 3px -4px 1px 0 rgba(0, 0, 0, 0.5);
}
.container_recibo h1 {
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
    0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
    0 8px 0 #202020;
}

.div > input {
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.68) inset;
  -webkit-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.68) inset;
  -moz-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.68) inset;
  border-radius: none;
}
#resultadoTotal{
  background-color:#202020;
}

/* RESPOSIVE WEB MEDIA-QUERIE */

@media (max-width: 700px) {
  .desc_in,
  .abonos_in {
    width: 100%;
    padding: 1rem 0rem;
  }
  .desc_in input {
    width: 45%;
  }
  .abonos_in input {
    width: 45%;
    padding: 0;
    font-size: 1.6rem;
  }
  .left,
  .center,
  .right,
  .subsidio {
    width: 80%;
  }
  #total_css {
    margin-right: 3rem;
    padding: 0;
  }
  #total_fin,
  #total_final {
    font-size: 2.2rem;
  }
}
@media (max-width: 600px) {
  #total_fin,
  #total_final {
    font-size: 1.8rem;
  }
  .desc_in input,
  .abono_in input {
    width: 50%;
    padding: 0;
  }

  .desc_in label,
  .abonos_in label {
    width: 40%;
    padding: 0;
    font-size: 1.5rem;
  }
}

@media (max-width: 540px) {
  .container_recibo {
    width: 95%;
  }
  .left,
  .center,
  .right,
  .subsidio {
    width: 90%;
  }
  .abonos .abonos_out,
  .descontos .desc_out {
    padding: 1rem 0;
  }
  .desc_in input,
  .desc_in label,
  .abonos_in label,
  .abono_in input {
    width: 40%;
    padding: 0;
    font-size: 1.6rem;
  }

  #total_fin,
  #total_final {
    font-size: 1.7rem;
    width: 50%;
  }
  .abonos,
  .descontos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 1rem 0.5rem;
  }
  #total_css {
    margin-right: 4rem;
    padding: 0;
  }
}
@media (max-width: 440px) {
  .desc_in input,
  .desc_in label,
  .abonos_in label,
  .abono_in input {
    font-size: 1.3rem;
  }
  .abonos_in input {
    width: 45%;
    padding: 0;
    font-size: 1.3rem;
  }
}

@media (max-width: 390px) {
  .desc_in input,
  .desc_in label,
  .abonos_in label,
  .abono_in input {
    width: 50%;
    padding: 0;
    font-size: 1.2rem;
    text-align: right;
  }
  #total_final,
  #total_fin {
    font-size: 1.5rem;
  }
}
@media (max-width: 350px) {
  #total_final,
  #total_fin {
    font-size: 1.3rem;
  }
}
